# Ignore all image files
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.tif
*.svg
*.webp
*.ico
*.heic
*.heif
*.MP4

/data/datamover_FE/*.txt
/data/datamover_TS/*.txt
# Ignore images inside specific folders (if needed)
/data/*
!/data/README.md
!/data/datamover_TS/
!/data/datamover_FE/